.gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 1rem;
}

@media(min-width: 992px) {
    .gallery {
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }
}

.image-container {
    width: 100%;
}

.image {
    width: 100%;
    background: #0b2e13;
}

.image:hover {
    background: #ccc;
}