* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(95, 95, 95, 0.8);
    border-radius: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    background: #1b1e21;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    position: fixed;
    width: 100vw;
    /*margin: 0.5rem 25%;*/
    justify-content: center;
    padding: 0.5rem 0;
    background: #6fab63;
    z-index: 100;
}

.navbar-brand a {
    color: #3f3743;
    font-weight: bold;
    font-family: 'Michroma', sans-serif;
}

.navbar-brand a:hover {
    text-decoration: none;
    color: #6a616e;
}

.navbar-brand a:active,
.navbar-brand a:focus {
    text-decoration: none;
    color: white;
}

.nav__items a {
    color: #3f3743;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
}

.background {
    padding-top: 3rem;
    height: 60rem;
    width: 100%;
}

.background-backdrop {
    background: #1b1e21;
    overflow: hidden;
    height: 100%;
}

.logo {
    position: relative;
    width: 40%;
    height: auto;
    margin: 36rem 0 0 0;
    padding-left: 4rem;
}

.background-saryn {
    position: relative;
    margin: 5% 10% 0 0;
    width: 41rem;
    float: right;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .background-saryn {
        position: absolute;
        margin: 5% 0 0 0;
        float: none;
        height: 60%;
        width: auto;
    }

    .background {
        height: 54rem;
    }
}

@media only screen and (max-width: 768px) {
    .background-saryn {
        position: absolute;
        margin: 5% 0 0 0;
        float: none;
        height: 75%;
        width: auto;
    }

    .background {
        height: 45rem;
    }
}

@media only screen and (max-width: 900px) {
    .background-saryn {
        position: absolute;
        margin: 5% 0 0 10%;
        float: none;
        height: 90%;
        width: auto;
    }

    .background {
        height: 36rem;
    }
}

.header-section {
    font-family: 'Michroma', sans-serif;
    display: block;
    width: 100%;
    padding: 3rem;
    background-color: #ccc;
    z-index: 50;
}

.header-section h2 {
    color: #1b1e21;
}

.content-area-wrapper {
    background: white;
    border-radius: 5px;
}

.footer {
    background: #3f3743;
    padding: 1rem 0;

}

.footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text > div {
    padding: 0.5rem 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .footer__text {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

.footer a {
    color: white;
    text-decoration: underline;
}