$primary: #f2ae0a;
$secondary: #6a6a6a;
$white: #fff;
$xbox: #28ad36;
$dark: #222222;

$body-bg:                   #252525;
$body-color:                $white;

$border-color: $secondary;

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-secondary: 'Oswald', sans-serif;
$headings-font-family: $font-family-secondary;
