/*============================START BOOTSTRAP VARIABLE OVERrIDES============================*/
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$warGreen: #6fab63;

$theme-colors: (
        primary: $warGreen,
);

@import "bootstrap/scss/bootstrap";
/*============================END BOOTSTRAP VARIABLE OVERRIDES============================*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 95, 95, 0.8);
  border-radius: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  display: grid;
  position: relative;
  background: #1b1e21;
  margin: 3rem 0 0 0;
  grid-template-rows: 4.6rem auto fit-content(4rem);
  grid-template-areas: "hd"
  "mn"
  "ft";

  @media(min-width: 992px) {
    }
}

a {
  text-decoration: none;
}

.header {
  grid-area: hd;
}

.navbar-brand {
  color: #3f3743;
  font-weight: bold;
  font-family: 'Michroma', sans-serif;
  font-size: 1.5rem;
  padding: 1rem 0 1rem;
}

.navbar {

  a {

    &:hover {
      text-decoration: none;
      color: #6a616e;
    }

    &:active,
    &:focus {
      text-decoration: none;
      color: white;
    }
  }
}

.nav-link {
  color: #3f3743;
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
  padding: 0 0.5rem;
}

.navbar-toggler {
  padding: 0.2rem;
  font-size: 1.5rem;

  &:focus {
    outline: none;
  }
}

.main {
  grid-area: mn;
}

.background {
  padding-top: 3rem;
  height: 40rem;
  width: 100%;
}

.logo {
  position: relative;
  width: 40%;
  height: auto;
  margin: 36rem 0 0 0;
  padding-left: 4rem;
}

.header-section {
  font-family: 'Michroma', sans-serif;
  display: flex;
  width: 100%;
  padding: 3rem;
  z-index: 50;

  h2 {
    color: #1b1e21;
  }
}

.content-area-wrapper {
  background: white;
  border-radius: 5px;
  display: flex;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.footer {
  background: #3f3743;
  padding: 1rem 0;
  grid-area: ft;

}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text > div {
  padding: 0.5rem 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .footer__text {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}

@media(min-width: 992px) {
  .gallery {
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
}

.image-container {
  width: 100%;
}

.image {
  width: 100%;
  background: #0b2e13;
  &:hover {
    background: #ccc;
  }
}

.footer a {
  color: white;
  text-decoration: underline;
}